<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">SmartBag | Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

	<br><ion-card-title class="ion-text-center">Configuración Bluetooth</ion-card-title>

	<br>

	<ion-row>
	  	<ion-col><br>
	  		<ion-button expand="block" size="secondary" color="primary" fill="outline" (click)="listPairedDevices()">
	  			<ion-icon name="refresh"></ion-icon>&nbsp;Recargar lista de dispositivos
	  		</ion-button>
	  	</ion-col>
	  </ion-row>

	  <ion-row>
	    <ion-col>
	      <ion-list radio-group [(ngModel)]="pairedDeviceID" *ngIf="listToggle">
	        <ion-item *ngFor="let i of pairedList;let j=index">
	          <ion-label>{{i.name}}</ion-label>
	          <ion-radio value="{{j}}" ></ion-radio>
	        </ion-item>
	      </ion-list>
	    </ion-col>
	  </ion-row>

	 <ion-row>
		  <ion-col>
		  	<button ion-button full class="submit-button" *ngIf="listToggle" (click)="selectDevice()">
		    <ion-icon name="bluetooth"></ion-icon>&nbsp;Conectar al dispositivo</button>
		  <ion-list>
		    <ion-item>
		      <ion-label position="floating">Escribir datos para enviar...</ion-label>
		      <ion-input type="text" name="datasend" [(ngModel)]="dataSend"></ion-input>
		    </ion-item>
		  </ion-list>
		  <br>
		  <ion-button expand="block" size="danger" color="danger" fill="outline" (click)="sendData()">
		    <ion-icon name="send"></ion-icon>&nbsp;Enviar datos por Bluetooth
		  </ion-button>
		  </ion-col>
	  </ion-row>
	  
	<br>

</ion-content>
<ion-footer no-shadow class="ion-padding">
	<ion-toolbar position="bottom">
		<ion-button (click)="onLogout()" expand="block" size="small" color="dark" fill="outline">Salir de la sesión</ion-button>
	</ion-toolbar>
</ion-footer>